* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #e3ebec;
  --second-bg-color: #476268;
  --text-color: #000000;
  --btn-color: #00252c;
  --btnHover-color: #000d0f;
  --error-text: rgb(255, 65, 48);
  --maincolor: #62e2ff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: 0 0.5rem 1rem #0a0a0a23;
}

.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 2);
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
  transition: color 0.5s;
}

.logo:hover {
  color: var(--maincolor);
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: color 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--maincolor);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

/*------------------------login register*/
.bg {
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bg_img {
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg_img img {
  width: 200px;
}

.textbgimg {
  padding: 3rem 5%;
}

.bg_v_ligne {
  width: 3px;
  height: 70vh;
  background-color: var(--second-bg-color);
}

.loginRegisterbg {
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conncxion_inputs {
  width: 40vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.inpts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.inpts label {
  font-size: 12px;
  margin: 5px;
}

input {
  padding: 7px;
  border: 1px solid var(--second-bg-color);
  border-radius: 5px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: var(--second-bg-color);
  box-shadow: 0 0 5px var(--btn-color);
}

/*-----------------------------------------------------btn*/

.btn {
  display: block;
  width: 150px;
  padding: 10px;
  background-color: var(--btn-color);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--btnHover-color);
}


.btnsouvgarder {
  display: block;
  width: 150px;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: rgb(0, 96, 0);
}

.btnsouvgarder:hover {
  background-color: rgb(0, 45, 0);
}

.btnmodifier {
  display: block;
  width: 150px;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: rgb(255, 158, 1);
}

.btnmodifier:hover {
  background-color: rgb(135, 83, 0);
}

.btnsupprimer {
  display: block;
  width: 150px;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: rgb(255, 1, 1);
}

.btnsupprimer:hover {
  background-color: rgb(135, 0, 0);
}

/*-----------------------------------------------------loader*/

.cs-loader-inner {
  position: relative;
  width: 100%;
  color: var(--maincolor);
  padding: 0;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 13px;
  opacity: 0;
  display: inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-65px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(65px);
  }
}

.cs-loader-inner label:nth-child(6) {
  animation: lol 1.5s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  animation: lol 1.5s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  animation: lol 1.5s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  animation: lol 1.5s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  animation: lol 1.5s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  animation: lol 1.5s 500ms infinite ease-in-out;
}

/*-----------------------------------------------------connection after register*/

.wating {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.attender_bg {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.645);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader_of_watingpage {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----------------------------------------------------indexpage*/

.indexpage {
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.indexpage img {
  width: 70px;
  animation: logo-animation 2s infinite alternate;
}

@keyframes logo-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
}
}
/*-----------------------------------------------------indexpage*/
.indexpage {
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.indexpage img {
  width: 70px;
  animation: logo-animation 2s infinite alternate; /* Animation répétée en boucle */
}

@keyframes logo-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/*-----------------------------------------------------homepage*/

.homebg {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  justify-content: center;
  align-items: center;
}

.navigationbarbg {
  width: 100%;
  padding: 10px;
  background-color: var(--second-bg-color);
  display: flex;
  align-items: center;
  height: 13vh;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 -4px 10px var(--btn-color);
}

.navigationbarbg p {
  padding-right: 10px;
}

.navigationbarbg .a_navbar {
  padding: 15px;
  max-height: 10vh;
  margin-right: 20px;
  background-color: #113b00;
  color: white;
  font-size: 1.6rem;
  border-radius: 10px;
  transition: background-color 0.5s ease;
  display: flex;
  flex-direction: row;
}

.navigationbarbg .a_navbar:hover {
  background-color: #237a00;
}

.diviconnavbar i {
  font-size: 3rem;
  cursor: pointer;
  color: var(--bg-color);
  transition: color 0.5s ease;
}

.a_navbar p,
.a_navbar i {
  cursor: pointer;
}

.diviconnavbar i:hover {
  color: var(--btn-color);
}

.diviconnavbar img {
  width: 100px;
  padding-left: 20px;
}

.diviconnavbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.holdbg {
  width: 100vw;
  height: 87vh;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: row;
  transition: width 0.5s ease;
  overflow: hidden;
}

.datashowbg {
  background-color: var(--bg-color);
  padding: 40px;
  width: 100vw;
  height: 90vh;
  overflow: auto;
  padding-bottom: 100px;
  transition: width 0.5s ease;
}

.datashowbg h1 {
  font-size: 2.3rem;
}

.datashowbg h2 {
  font-size: 1.7rem;
}

.datashowbg h3 {
  font-size: 1.4rem;
}

.datashowbg label {
  font-size: 1.3rem;
}

.datashowbg button {
  font-size: 1.3rem;
}

.controlbg {
  width: 0%;
  height: 100%;
  background-color: var(--btn-color);
  transition: width 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Permet d'enrouler les divs sur plusieurs lignes */
  overflow-y: scroll;
}

#m, #x {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: transform 0.5s ease-in;
  text-align: center;
  cursor: pointer;
  transform-origin: center; /* Ajouté pour la rotation sur place */
}

.rotate {
  transform: rotate(360deg);
}

/* Boutons de gor options */
.btngoroptions {
  width: 250px;
  height: 250px;
  background-color: var(--second-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  border: 2px solid var(--btn-color);
  transition: all 0.5s ease;
  color: var(--bg-color);
  padding: 10px;
  margin: 20px;
}

.btngoroptions:hover {
  border: 2px solid var(--maincolor);
  box-shadow: 0 -4px 10px var(--second-bg-color);
}

.btngoroptions img {
  width: 100px;
  margin: 10px;
}
/* Liste des bordereaux */
.listborderaux {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
}

/* Options de la liste */
.listborderauxoptions {
  width: 100%;
  min-width: 400px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  background-color: #356d7913;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.listborderauxoptions p {
  cursor: pointer;
}

.listborderauxoptions:hover {
  background-color: #356d797c;
}

/* Contenu des options */
.option_b {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

/* Filtrage */
.filtragesetingsbg {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--second-bg-color);
}

/* Ajout d'information */
.bg_add_info {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 37, 44, 0.6); /* Remplacement par rgba pour plus de compatibilité */
  z-index: 9000;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari */
}

/* Bordereau à ajouter */
.bordereau_a_ajouter {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
  height: 70%;
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 40px;
  color: var(--btn-color);
  overflow-y: auto;
  box-shadow: 0 4px 10px var(--btn-color);
  align-items: center;
  text-align: center;
}

/* Bordereau - Styles de texte */
.bordereau_a_ajouter label {
  font-size: 1.5rem;
}

.bordereau_a_ajouter button,
.bordereau_a_ajouter input {
  width: 100%;
}

.bordereau_a_ajouter button {
  font-size: 1.5rem;
}

.bordereau_a_ajouter img {
  width: 150px;
}

.bordereau_a_ajouter h1 {
  font-size: 2.4rem;
}

.bordereau_a_ajouter h2 {
  font-size: 1.9rem;
}

.bordereau_a_ajouter p {
  font-size: 1.4rem;
}

/* Bordereau - En attente */
.wating_bordereau_a_ajouter {
  position: absolute;
  display: flex;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px); /* Safari */
  color: var(--btn-color);
  align-items: center;
  background-color: rgba(53, 109, 121, 0.15); /* Utilisation de rgba pour plus de compatibilité */
  border-radius: 10px;
  top: 0;
  left: 0;
}
/* Notification */
.notification {
  display: flex; /* Utiliser display flex par défaut pour les transitions */
  padding: 15px;
  color: #ffffff;
  font-size: 1.2rem;
  position: absolute;
  z-index: 50000;
  max-width: 60vw;
  top: 15vh;
  right: 5vw;
  border-radius: 5px;
  box-shadow: 0 4px 10px var(--btn-color);
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0; /* Initialement invisible */
  visibility: hidden; /* Cache l'élément mais permet la transition */
  transform: translateY(-50px); /* Position hors de la vue */
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s 0.5s; /* Ajout d'un délai pour visibility */
}

#notification.show {
  opacity: 1; /* Rend visible */
  visibility: visible; /* Affiche l'élément */
  transform: translateY(0); /* Position finale */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Supprimer le délai pour l'affichage */
}

/* Ligne de séparation */
.ligne {
  width: 100%;
  height: 1px;
  background-color: var(--btn-color);
  display: flex;
}

/* Détails du bordereau */
.bordereau_a_ajouter_details {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: start;
}

/* En-tête du bordereau */
.header_bordereau_a_ajouter_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

/* Contenu du tableau */
.content_tableau_bor {
  width: 33%;
  justify-content: center;
  align-items: center;
}

.content_tableau_bor_id {
  width: 100%;
}

/* Sélecteur de formulaire */
.bordereau_a_ajouter_details select {
  width: 100%;
  padding: 5px;
  color: var(--bg-color, #000); /* Valeur de secours */
  background-color: var(--btn-color, #ccc); /* Valeur de secours */
  border-radius: 7px;
  cursor: pointer;
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
  
  /* Compatibilité pour Safari et autres navigateurs */
  -webkit-appearance: none; /* Safari */
  appearance: none; /* Autres navigateurs */
}

/* Espacement horizontal */
.espace_betwen_h {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: 10px;
}

/* Marge pour br */
br {
  margin-top: 10px;
}

/* Boutons de facturation */
.btnsfactureafficher {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.btnsfactureafficher button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase; /* 'uppercase' est plus approprié que 'bold' pour la transformation du texte */
  margin-left: 5px;
  border: none; /* Ajouté pour éviter les bordures par défaut */
  padding: 10px; /* Ajouté pour améliorer l'apparence et la cliquabilité */
  border-radius: 5px; /* Ajouté pour des coins arrondis */
  cursor: pointer; /* Ajouté pour indiquer que le bouton est cliquable */
  transition: background-color 0.5s ease; /* Ajouté pour une transition douce lors du survol */
}

.btnsfactureafficher button:hover {
  opacity: 0.6;
}

/* Images */
.img_de_fenetre {
  width: 100px;
  margin: 20px;
}

/* Page d'accueil */
.homepage_ {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.homepage_ img {
  display: flex;
  width: 200px;
  height: 200px;
}

















@media (max-width: 617px) {
  .bg {
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0; /* Fix Safari Flexbox issue */
  }

  .bg_img {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
  }

  .bg_img img {
    width: 150px;
  }

  .bg_v_ligne {
    display: none;
  }

  .loginRegisterbg {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .conncxion_inputs {
    width: 100%;
    height: 100vh; /* Corrected from double width to height */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .inpts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
  }

  .bg_connexion {
    width: 100vw;
    height: 100%;
    padding: 3rem 5%;
  }

  .cs-loader-inner label {
    font-size: 10px;
    opacity: 0;
    display: inline-block;
  }

  .logo img {
    width: 85px;
  }

  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 1.3rem;
  }

  .navbar a.active {
    font-size: 1.4rem;
    padding: 1rem 3%;
  }

  .bgBtnCreatProject button {
    margin-right: 7vw;
  }

  .serchBackground input {
    width: 50vw;
  }

  .inpts_produit {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  select {
    width: 100%;
    padding: 0.7rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .cree_stor_in_mira_bg {
    padding: 0;
  }

  .bg_creeStor {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-y: scroll; /* Added scroll fix */
  }

  .cree_stor_in_mira_bg {
    display: flex;
    z-index: 150;
    position: fixed;
    flex-direction: column;
    min-height: 100vh;
  }

  .navigationbarbg {
    height: 10vh;
  }

  .btngoroptionstrans {
    width: 100px;
    height: 100px;
  }

  .holdbg {
    height: 90vh;
  }

  .a_navbar p {
    display: none;
  }

  .navigationbarbg .a_navbar {
    padding: 10px;
  }

  .datashowbg {
    min-height: 100vh; /* Fixed from 100vw */
    width: 100vw;
  }

  .controlbg {
    width: 0;
  }

  .diviconnavbar img {
    width: 70px;
  }
}
